name: Issue Release

permissions: read-all

on:
  pull_request:
    types:
      - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    name: Do Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          # Must be set to the repo's master branch so that new commits
          # are added to the right branch.
          path: main
      - uses: actions/setup-node@main
        with:
          node-version: 'lts/*'
      - run: ls -la
      - run: npm install
      - run: npm install --no-save pacote libnpmpack libnpmpublish @npmcli/package-json semver
      - uses: actions/github-script@main
        env:
          NPM_TOKEN: "${{secrets.NPM_PUBLISH_TOKEN}}"
        with:
          script: |
            const script = require('./.github/workflows/issue-release.js')
            try {
              await script({ github, context, core })
            } catch (cause) {
              core.setFailed(`Action failed with error: ${cause.message}`);
            }

